body {
    font-family: Arial, sans-serif;
    background: #0f172a;
    color: #e2e8f0;
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

.container {
    width: 600px;
    background: #1e293b;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.input-box {
    display: flex;
    gap: 10px;
}

input {
    flex: 1;
    padding: 10px;
    border-radius: 8px;
    border: none;
    outline: none;
}

button {
    padding: 10px 20px;
    background: #3b82f6;
    border: none;
    border-radius: 8px;
    color: white;
    cursor: pointer;
}

button:hover {
    background: #2563eb;
}

.output {
    margin-top: 20px;
}

pre {
    background: #020617;
    padding: 10px;
    border-radius: 8px;
    overflow-x: auto;
}
ul {
    list-style: none;
    padding: 0;
}

li {
    background: #020617;
    margin: 5px 0;
    padding: 8px;
    border-radius: 6px;
}